body{
	background-color: black;
}

#container{
	max-width: 700px;
	display: block;
	margin: 0 auto;
}

.square{
	width:40%;
	background: black;
	padding-bottom: 40%;
	float: left;
	margin: 5%;
	border-radius: 20px;
}

#red{
	background-color: red;
}

#blue{
	background-color: blue;
}

#yellow{
	background-color: yellow;
}

#green{
	background-color: green;
}