body{
	background-color: black;
}

/* New Game Button */

.button{
	display: block;
	margin: 0 auto;
	width: 120px;
	
}

button{
	height: 60px;
	width: 100px;
	font-size: 20px;
	text-transform: uppercase;
}

.btn{
	margin-top: 10px;
	border-radius: 10px;
	background-color: black;
	border-color: white;
	color: white;
	width: 120px;
}

.btn:hover{
	background-color: #303030;
	transition: all .2s;
}

/* Game Tiles */

#container{
	max-width: 600px;
	display: block;
	margin: 0 auto;
	position: relative;
}

.square{
	width:40%;
	background: black;
	padding-bottom: 40%;
	float: left;
	margin: 5%;
	border-radius: 20px;
}

.bott{
	margin-bottom: 0;
}

.red{
	background-color: red;
}

.red:active{
	background-color: #aa2727;
}

.blue{
	background-color: blue;

}

.blue:active{
	background-color: #0d00a3;

}

.yellow{
	background-color: yellow;
}

.yellow:active{
	background-color: #b5b200;
}

.green{
	background-color: green;
}

.green:active{
	background-color: #005106;
}

.flash{
	background-color: white;
}

/* You Lose message */

.msg{
	margin-top: 10px;	
	color: white;
	width: 100vw;
	border: none;
	background: none;

}

button:focus{
	outline: 0;
}